/*Este é um comentário em CSS*/
/* 
este um comentário em BLOCO em CSS
*/

/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

header {
    background-color: blue;
}
h1 {
    font-family: serif;
}
h2 {
    font-family: serif;
}
