/*Este é um     comentário em CSS*/
/*              
este um comentário em BLOCO em CSS
*/

/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

header {
    background-color: blue;
}
h1 {
    font-family: serif;
}
h2 {
    font-family: serif;
}
nav {
    font-weight: bolder;
}

#container {
    margin: 20px;
}
section {
    line-height: 1.5;
}
form {
    border: 1px solid grey;
    padding: 10px;
}
p {
    color: green;
}
button {
    background-color: blue;
    color: white;
}
footer {
    border-top: 2px solid red;
}
